:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter'; 
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__informacao__principal {
    display: block;
}

.container__botao {
    background-color: var(--botao-azul);
    padding: 1em;
    border-radius: 5px;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

#botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 0.75em;
    color: var(--cinza-secundario);

}

.container__titulo {
    font-size: 1,75em;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0em 6em;
}

.segunda__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em
}

.segundo__titulo {
    font-size: 3em;
    margin-bottom: 0.1em
}

.container__texto{
    color: var(--cinza-secundario);
}

#terceiro__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__terciario {
    padding: 3em 5em;
}